<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/legoman/code/TestNgProject/src/test/java/ie/williamswalsh/GroupingExample.java">
        <groups>
            <run>
                <include name="sanity" />
<!--                <exclude name="regression" />-->
<!--                <include name="regression" />-->
            </run>
        </groups>

        <classes>
            <class name="ie.williamswalsh.GroupingExample" />
        </classes>
    </test>
</suite>