<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="ie.williamswalsh.listeners.CustomListener"/>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="/Users/legoman/code/TestNgProject/src/test/java/ie/williamswalsh/listeners/ListenerTest.java">
        <classes>
            <class name="ie.williamswalsh.listeners.ListenerTest" />
        </classes>
    </test>
</suite>